extends layout

block content
    if posts
        each post, i in posts
            .uk-card.uk-card-default.uk-card-hover.uk-margin-large.uk-align-center(class='uk-width-1-2@m')
                .uk-card-header
                    .uk-grid-small.uk-flex-middle(uk-grid='')
                        .uk-width-expand
                            a(href='/posts/show/#{post._id}', target="_blank").uk-card-title.uk-margin-remove-bottom #{post.title}
                            p.uk-text-meta.uk-margin-remove-top | By 
                                strong #{post.author}
                            p.uk-text-meta.uk-margin-remove-top
                                time #{moment(post.date).format("dddd, MMM Do YYYY")}
                .uk-card-body
                    article
                        p.uk-display-inline
                            !=truncateText(post.body, 400) 
                            span.uk-display-inline  .....
                    span.uk-label 
                        a(href="/topics/show/#{post.topic}") #{post.topic}
                    img(src="/images/#{post.blogimage}")
                .uk-card-footer
                    a.uk-button.uk-button-text.uk-align-center(href='/posts/show/#{post._id}', target="_blank") Read more
                    
