extends layout

block content
    .uk-card.uk-card-default.uk-card-hover.uk-margin-large.uk-align-center(class='uk-width-1-2@m')
        .uk-inline
            img(src="/images/#{post.blogimage}", class="image-control")
            div(class="uk-overlay uk-overlay-primary uk-position-bottom show-post")
                h2.uk-margin-remove-bottom #{post.title}
                p.uk-margin-remove-top | By 
                    strong #{post.author}
                p.uk-margin-remove-top
                    time #{moment(post.date).format("dddd, MMM Do YYYY")}
        .uk-card-body
            article
                p.uk-display-inline
                    !=post.body
            a.topic-tag(href="/topics/show/#{post.topic}") #{post.topic}
        .uk-card-footer
            h3 Comments
            if post.comments
                each comment, i in post.comments
                    .comment-container
                        h5 #{comment.name} 
                        p.uk-text-meta Rating #{comment.range} /10
                        p #{comment.body}

    
    .uk-container
        h3.center Add Comment
        if errors
            ul
                each error, i in errors
                    li #{error.msg}
        .uk-container.form-margin
            form.uk-form-horizontal.uk-margin-large(method='post', action='/posts/addComment')
                .uk-margin
                    .uk-form-controls
                        input#form-horizontal-text.uk-input(type='hidden', name="postid", value="#{post._id}")
                input#form-horizontal-text.uk-input(type='text', placeholder="Add name here", name="name")
                .uk-margin
                    textarea.uk-textarea(rows='5', placeholder='Add comment here', name="body", id="body")
                .uk-margin
                    input(class="uk-range", type="range", name="range", value="0", min="0", max="10", step="1", placeholder="Test")
   
                .uk-margin
                    input(class="uk-button uk-button-default", type="submit", name="submit", value="Commit")    

